@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  display: grid;
  grid-template-columns: repeat (5, 1fr);
  grid-template-rows: repeat (5 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 auto;
  width: 100%;
}

/* entire search container */
.searchContainer {
  padding: 10px;
  transition: 0.3s;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
  margin: 40px auto;
}
.searchContainer h1 {
  padding-top: 10px;
  margin-bottom: 0;
}

/* (form elements and inputs) */
.searchForm {
  padding: 20px;
  padding-top: 2px;
  text-align: left;
  font-size: 18px;
}

.searchForm button {
  margin: 5px 40%;
  background-color: #0D6EFD;
}

.resultsPage {
  margin: 0 auto;
  text-align: center;
  padding: 0 5px;
}

  .resultCard {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  border-radius: 5px;
  width: 325px;
  margin: 30px auto;
  text-align: left;
}

.resultCard h4 {
  float: left;
  margin: 5px auto;
}

.resultCard span p {
  float: left;
}
.resultCard span a {
  float: right;
  text-decoration: none;
}

.resultCard:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

.aboutContainer {
  padding: 50px;
  padding-top: 10px;
  transition: 0.3s;
  border-radius: 5px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 1px;
}

.searchContainer img {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border-radius: 7px;
}
.aboutContainer img {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border-radius: 7px;
}

.aboutContainer a {
  text-decoration: none;
}

.loading {
  text-align: center;
  margin: 50px auto;
}

/* BADGES */
  span .badge {
  font-size: 12px;
  margin: 6px 2px;
  border-radius: 8px;
  padding: 10px 8px;
  text-align: center;
  border-radius: 7px;
  width: auto;
  height: 30px;
  color: rgb(50, 50, 50);
  box-shadow:
  0 1px 2px rgba(0,0,0,0.1),
  inset 0 -1px 0 rgba(238, 238, 238, 0.1);
}

.accessibleBadge {
  background-color:rgb(167, 215, 255);
  color: black;
}

.unisexBadge {
  background-color: #d5b7f1;
  color: black;
}

.changingTableBadge {
  background-color: rgb(255, 196, 0);
  color: black;
}

span .notBadge {
  background-color: rgb(92, 92, 92);
  color: white;
}

@media only screen and (min-width: 768px){

  .searchContainer {
    border: 1px solid lightgray;
    padding: 10px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 500px;
    text-align: center;
    margin: 60px auto;
  }

  .resultsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 10px;
  }

  .App {
    border-left: 10px solid #F8F9FA;
    border-right: 10px solid #F8F9FA;
  }

  .aboutContainer {
    border: 2px solid lightgray;
    padding: 50px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 18px;
  }
  
  .aboutContainer img {
    margin-bottom: 50px;
    width: 275px;
    height: 275px;
    border-radius: 7px;
  }

}

@media only screen and (min-width: 1200px){

  .searchContainer img {
    padding: 10px;
    width: 250px;
    height: 250px;
  }
  .resultsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 10px;
  }
}